[Unit]

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/ubuntu/cordy/cordy
WorkingDirectory=/home/ubuntu/cordy
User=ubuntu
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n